{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "prettier-standard",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier", "jest", "cypress", "chai-friendly"],
  "rules": {
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "env": {
    "cypress/globals": true
  }
}
